{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Us</h1>

    <p>We're a trio of friends united by a common passion for home-cooked meals. Our journey began in college, where we quickly realized that cooking, contrary to our expectations, was a skill that required more than just enthusiasm. Faced with the challenge of preparing our own meals, we discovered that many others shared our predicament.</p>

    <p>The idea for this app was born out of a desire to make cooking more approachable and enjoyable, especially for those just starting out. We wanted to create a resource that not only provided recipes but also encouraged creativity and experimentation in the kitchen. Our goal is to demystify the art of cooking and make it a fun, rewarding experience for everyone.</p>

    <p>Join us on this culinary adventure and discover the joy of cooking!</p>

{% endblock %}